---
import { Rss } from "lucide-react"
import { LanguageToggle } from "~/components/react/language-toggle"
import { ThemeToggle } from "~/components/react/theme-toggle"
import { en, zh } from "~/config"
import { getLangFromUrl } from "~/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const config = lang === "zh" ? zh : en
---

<header
  class="flex h-16 w-full items-center justify-between px-4"
  style={{
    background: "rgba(255, 255, 255, 0.1)",
    borderRadius: "16px",
    boxShadow: "0 4px 30px rgba(0, 0, 0, 0.1)",
    backdropFilter: "blur(0.2px)",
    WebkitBackdropFilter: "blur(0.2px)", // Necessary for Safari support
    border: "1px solid rgba(255, 255, 255, 0.2)",
  }}
>
  <a href="/" data-umami-event="site-name" aria-label={`${config.siteName}`}>
    <div class="container flex items-center">
      <div class="inline-flex max-sm:hidden">
        <img
          src="https://cdn.discordapp.com/avatars/1177297609778540547/72f0b34abbf21d72a15c48a0a99ea944.webp?size=96"
          alt="avatar"
          class="inline-block h-12 w-12 rounded-full object-cover object-center"
        />
      </div>
      <div class="ml-3 text-2xl font-semibold">{config.siteName}</div>
    </div>
  </a>

  <div class="flex items-center gap-6">
    {
      config.rss && (
        <a
          href="/atom.xml"
          target="_blank"
          data-umami-event="rss"
          aria-label="RSS"
          title="RSS"
        >
          <Rss />
        </a>
      )
    }
    {
      config.social.map((social) => (
        <a
          href={social.link}
          target="_blank"
          class="hidden md:block"
          data-umami-event={social.label}
          aria-label={social.label}
          title={social.label}
        >
          <social.icon />
        </a>
      ))
    }

    <LanguageToggle client:load />
    <ThemeToggle client:load />
  </div>
</header>
